
<div class="panel panel-default">
   <!-- <tr ng-repeat="r in ctrl.loadAllUsers()"></tr>-->
    <!-- Default panel contents -->
    <div class="panel-body">
        <div> <table class="table table-hover ">
            <tr>
                <td>
                    <div class="panel-heading"><span class="lead">Your Account:</span></div>
                        <div class="panel-body">
                            <div class="formcontainer">
                                <div class="alert alert-success" role="alert" ng-if="ctrl.successAccountMessage">{{ctrl.successAccountMessage}}</div>
                                <div class="alert alert-danger" role="alert" ng-if="ctrl.errorAccountMessage">{{ctrl.errorAccountMessage}}</div>
                                <form ng-submit="ctrl.submitRole()" name="myAccountForm" class="form-horizontal">
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="col-md-2 control-lable">Your money:</label>
                                            <div class="col-md-7">
                                                {{ctrl.getUserMoney()}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="col-md-2 control-lable" for="addM">Add money:</label>
                                            <div class="col-md-7">
                                                <input type="text" ng-model="ctrl.addMoney.money" id="addM" class="username form-control input-sm" placeholder="Enter count of money" ng-pattern="ctrl.onlyIntegers"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-actions floatRight">
                                            <button type="button" ng-click="ctrl.addUserMoney()" class="btn btn-info btn-sm" ng-disabled="myRoleForm.$pristine">Add money</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                </td>
                <td>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>USER</th>
                            <th>PRODUCT</th>
                            <th>COUNT</th>
                            <th>TOTAL PRICE</th>
                            <th width="100"></th>
                            <th width="100"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="purchase in ctrl.getPurchaseByUser()">
                            <td>{{purchase.id}}</td>
                            <td>{{purchase.user.name}}</td>
                            <td>{{purchase.product.name}}</td>
                            <td>{{purchase.count}}</td>
                            <td>{{purchase.total_price}}</td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
        </div>
    </div>
</div>
