<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Welcome Security with Spring Boot!</title>
</head>
<body>
<h1 style="color:blue"> Hello!  This is Welcome Page!</h1>
<!--<div th:text="${@authService.getUserName()}">...</div>-->
<p th:text="${username}">Welcome to our grocery store!</p>
<a style="color:blue" th:href="@{/}">Go to Home Page!</a>
<br/>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<form th:action="@{/user/account}" method="get">
    <input type="submit" value="Your Account"/>
</form>
</body>
</html>